@import 'reseter.css/css/reseter.min.css';
@import 'variables';

html {
    background-color: $c-soothing-milk;
    font-family: $f-content;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}
