@import 'scss/extendable';
@import 'scss/functions';
@import 'scss/variables';

.button {
    @extend ._focusOutline;

    border: none;
    border-radius: pxToRem(10px);
    padding: 0.5rem 1rem;
    box-shadow: 0 pxToRem(6px) 0 transparentize($c-black, 0.88);
    font-weight: 500;
    transition: background-color $t-default, color $t-default, outline $t-default, outline-offset $t-default;
}

.button_primary_disabled {
    @extend .button;

    cursor: inherit;
    color: $c-soothing-milk;
    background-color: $c-gray;
}

.button_primary {
    @extend .button;

    color: $c-soothing-milk;
    background-color: $c-accent;

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: $c-accent-lighter;
        outline-color: $c-accent-lighter;
    }
}

.button_secondary_disabled {
    @extend .button;

    cursor: inherit;
    border: pxToRem(1px) solid $c-gray;
    color: $c-gray;
    background-color: $c-soothing-milk;
}

.button_secondary {
    @extend .button;

    border: pxToRem(1px) solid $c-accent;
    color: $c-accent;
    background-color: $c-soothing-milk;

    &:hover,
    &:focus {
        background-color: $c-accent-shadow;
        outline-color: $c-accent;
    }
}
