@import 'scss/extendable';
@import 'scss/functions';
@import 'scss/variables';

.container {
    position: relative;
}

.container_disabled {
    @extend .container;

    opacity: 0.32;
}

.container_error {
    @extend .container;

    .input {
        color: $c-red;
        border-bottom-color: $c-red;
    }

    .label_placeholder {
        color: transparentize($c-red, 0.68);
    }

    .label_above {
        color: $c-red;
    }
}

.input {
    @extend ._focusOutline;

    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom-width: pxToRem(4px);
    border-bottom-style: solid;
    padding: 0.1rem 0;
    transition: outline $t-default, outline-offset $t-default;
}

.input_empty {
    @extend .input;

    border-bottom-color: $c-dirty-milk;

    &:hover,
    &:focus {
        outline-color: $c-accent-lighter;
    }
}

.input_primary {
    @extend .input;

    color: $c-accent;
    border-bottom-color: $c-accent;

    &:hover,
    &:focus {
        border-bottom-color: $c-accent-lighter;
        outline-color: $c-accent-lighter;
    }
}

.label {
    position: absolute;
    transition: top $t-default, font-size $t-default;
}

.label_placeholder {
    @extend .label;

    color: $c-dirty-milk;
    font-size: pxToRem(16px);
    top: 0.1rem;
    left: 0;
}

.label_above {
    @extend .label;

    color: $c-accent;
    font-size: pxToRem(12px);
    top: -1.4rem;
}

.error {
    color: $c-red;
    font-size: pxToRem(12px);
    margin: 0;
    margin-top: 0.2rem;
}
